<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Income</title>
</head>
<body>
<button><a href="income/form">New Income</a></button>
<table>
    <thead>
    <tr>
    <th>S.N</th>
    <th>Amount</th>
    <th>Descripion</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="income: ${incomeList}">
        <td>#</td>
        <td th:text="${income.amount}" />
        <td th:text="${income.description}" />
    </tr>
    </tbody>

</table>

</body>
</html>